<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find tracked_control)/config/tracked_control_position.yaml" command="load"/>
<!--  <rosparam file="$(find tracked_control)/config/tracked_control_effort.yaml" command="load"/>-->

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/tracked" args="joint_state_controller
					  base2FL_position_controller
					  base2RL_position_controller
					  base2FR_position_controller
					  base2RR_position_controller
					  base2m1_position_controller
					  joint1_position_controller
					  joint2_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
<!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"-->
<!--	respawn="false" output="screen">-->
<!--    <remap from="/joint_states" to="/tracked/joint_states" />-->
<!--    <remap from="robot_description" to="robot_description"/>-->
<!--  </node>-->

</launch>
